<!DOCTYPE html>
<html lang="es">

<!--=================================================================================================================-->
<head>

    <!----------------------------------------------------------------------------------------------------------------->
    <!--                                                          //Import basicos de estilo                         -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!----------------------------------------------------------------------------------------------------------------->
</head>

<!--=================================================================================================================-->
<body>

    <!----------------------------------------------------------------------------------------------------------------->
    <div class="container">


        <!------------------------------------------------------------------------------------------------------------->
        <h2>Alergias por paciente</h2>

        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--                                                //Boton para agregar usuario                             -->
        <div class="row form">
          <div class="col-sm-4">
              <label for="inNombre">Nombre:</label>
            <input  id="inNombre" type="text" value="" class="form-control"style="margin-bottom:10px" placeholder="Phil Collins"></input>
          </div>
          <div class="col-sm-4">
              <label for="inEspecialidad">Especialidad:</label>
            <input  id="inEspecialidad" type="text" value="" class="form-control"style="margin-bottom:10px" placeholder="Cardiologo"></input>
          </div>

          <div class="col-sm-3">
            <button id="btnRecalcularReporte" type="button" class=" btn btn-primary pull-right button">Buscar</button>
          </div>
        </div>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Cedula Profesional</th>
                    <th>Nombre</th>
                    <th>Especialidad</th>
                </tr>
            </thead>
            <tbody id="tbleTodosDoctores">
            </tbody>
        </table>

        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <div id="divSign" style="text-align: center">
        </div>

        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    </div>

    <!----------------------------------------------------------------------------------------------------------------->
</body>

<!--=================================================================================================================-->
<script src="View/Doctores/TodosDoctoresAction.js"></script>

<!--=================================================================================================================-->
</html>
